<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% @areas = "Adarsh Nagar", "Agra Road", "Ajmer Road", "Ajmeri Gate", "Ambabari", "Amer Road", "Bais Godam", "Bajaj Nagar", "Bani Park", "Bapu Bazaar", "Bapu Nagar", "Barkat Nagar", "Bhawani Singh Road", "Biseswarji", "Brahmapuri", "Chandpol", "Civil Lines", "Durgapura", "Gangori Bazar", "Ghat Darwaza", "Gopalpura", "Indira Bazar", "Jagatpura", "Jalupura", "Janata Colony", "Jawaharlal Nehru Marg", "Jawahar Nagar", "Jhotwara", "Jhotwara Industrial Area", "Jhotwara Road", "Johari Bazar", "Jyothi Nagar", "Kalwar Road", "Kartarpur", "Khatipura", "Mahesh Nagar", "Malviya Nagar", "Mansarovar", "Mirza Ismail Road", "Motidungri Marg", "Muralipura", "New Colony", "Pink City", "Raja Park", "Ramganj", "Sanganer", "Sansar Chandra Road", "Sethi Colony", "Shastri Nagar", "Shyam Nagar", "Sikar Road", "Sindhi Camp", "Sirsi Road", "Sitapura Industrial Area", "Sodala", "Subhash Nagar", "Sudharshanpura Industrial Area", "Surajpol Bazar", "Tilak Nagar", "Tonk Phatak", "Tonk Road", "Transport Nagar", "Vaishali Nagar", "Vidhyadhar Nagar", "Vishwakarma Industrial Area"
%>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :contact %>
    <%= form.number_field :contact %>
  </div>

  <div class="field">
    <%= form.label :area_line %>
    <%= form.select(:area_line, @areas, {}) %>
  </div>

  <div class="field">
    <%= form.label :address_line %>
    <%= form.text_field :address_line %>
  </div>

  <div class="field">
    <%= form.label :service_type_id %>
    <%= form.fields_for(@taskservice)  do |ab| %>
        <%= form.collection_select(:service_type_ids, ServiceType.all, :id, :name, {}, {:multiple => true, id: "service_type"})%>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :service_info %>
    <%= form.text_field :service_info %>
  </div>

  <div class="field">
    <%= form.label :assigned_employee_id %>
    <%= form.fields_for(@taskemployee)  do |ab| %>
        <%= form.collection_select(:assigned_employee_ids, AssignedEmployee.all, :id, :name, {}, {:multiple => true, id: "employee"})%>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select(:status, options_for_select([['COMPLETED','COMPLETED'], ['IN PROGRESS', 'IN PROGRESS'], ['PENDING','PENDING']]), { include_blank: ""}) %>
  </div>

  <div class="field">
    <%= form.label :priority %>
    <%= form.select(:priority, options_for_select([['HIGH','HIGH'], ['LOW', 'LOW'], ['MEDIUM','MEDIUM'], ['URGENT','URGENT']]), { include_blank: ""}) %>
  </div>

  <div class="field">
    <%= form.label :billing %>
    <%= form.select(:billing, options_for_select([['BILLED','BILLED'], ['NA', 'NA'], ['NOT TO BE BILLED','NOT TO BE BILLED']]), { include_blank: ""}) %>
  </div>

  <div class="field">
    <%= form.label :payment_status %>
    <%= form.select(:payment_status, options_for_select([['DUE','DUE'], ['NA', 'NA'], ['OTHER','OTHER'], ['RECEIVED','RECEIVED']]), { include_blank: ""}) %>
  </div>

  <div class="field">
    <%= form.label :remark %>
    <%= form.text_field :remark %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script>
  $('#service_type').multiselect({

  });
   $('#employee').multiselect({

  });
</script>