<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Contact</th>
      <th>Area line</th>
      <th>Address line</th>
      <th>Service type</th>
      <th>Service info</th>
      <th>Assigned employee</th>
      <th>Status</th>
      <th>Priority</th>
      <th>Billing</th>
      <th>Payment status</th>
      <th>Remark</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.contact %></td>
        <td><%= task.area_line %></td>
        <td><%= task.address_line %></td>
        <td><%= task.service_type_id %></td>
        <td><%= task.service_info %></td>
        <td><%= task.assigned_employee_id %></td>
        <td><%= task.status %></td>
        <td><%= task.priority %></td>
        <td><%= task.billing %></td>
        <td><%= task.payment_status %></td>
        <td><%= task.remark %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
