<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @task.contact %>
</p>

<p>
  <strong>Area line:</strong>
  <%= @task.area_line %>
</p>

<p>
  <strong>Address line:</strong>
  <%= @task.address_line %>
</p>

<p>
  <strong>Service type:</strong>
  <% @task.service_types.each do |st| %>
    <%= st.name %>,
  <% end %>
</p>

<p>
  <strong>Service info:</strong>
  <%= @task.service_info %>
</p>

<p>
  <strong>Assigned employee:</strong>
  <% @task.assigned_employees.each do |ae| %>
    <%= ae.name %>,
  <% end %>
</p>

<p>
  <strong>Status:</strong>
  <%= @task.status %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @task.priority %>
</p>

<p>
  <strong>Billing:</strong>
  <%= @task.billing %>
</p>

<p>
  <strong>Payment status:</strong>
  <%= @task.payment_status %>
</p>

<p>
  <strong>Remark:</strong>
  <%= @task.remark %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
