<p id="notice"><%= notice %></p>

<h1>Assigned Employees</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assigned_employees.each do |assigned_employee| %>
      <tr>
        <td><%= assigned_employee.name %></td>
        <td><%= link_to 'Show', assigned_employee %></td>
        <td><%= link_to 'Edit', edit_assigned_employee_path(assigned_employee) %></td>
        <td><%= link_to 'Destroy', assigned_employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Assigned Employee', new_assigned_employee_path %>
