<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @assigned_employee.name %>
</p>

<%= link_to 'Edit', edit_assigned_employee_path(@assigned_employee) %> |
<%= link_to 'Back', assigned_employees_path %>
